.house-type-div{
	width: 45%;
	position: absolute;
}
.appointment-type-div{
	float: right;
	position: relative;
	width: 46%;
}
.box-top{
	width: 100%;
	height: 50%;
}
.box-down{
	width: 100%;
	height: 50%;
	position: relative;
	margin-top: 50%;
}
.role-type-div{
	float: right;
	position: static;
}
