<div class="row align-items-center">

	<div class="col-md-6">

		<mat-card class="example-card">
			<!--<mat-card-header>
				<mat-card-title>Configuration des Types des Rendez-vous</mat-card-title>
				<div class="div-right">
					<button mat-mini-fab color="accent" (click)="openDialog()" class='success-background'>
						<mat-icon>plus_one</mat-icon>
					</button>
				</div>
			</mat-card-header>-->
			<mat-card-content>
				<kt-appointment-type-list></kt-appointment-type-list>
			</mat-card-content>

		</mat-card>
	</div>

	<div class="col-md-6">


		<mat-card class="example-card">
		<!--	<mat-card-header>
				<mat-card-title>Configuration des Types des Maisons</mat-card-title>
				<div class="div-right">
					<button mat-mini-fab color="accent" (click)="openDialog()" class='success-background'>
						<mat-icon>plus_one</mat-icon>
					</button>
				</div>
			</mat-card-header>-->
			<mat-card-content>
				<kt-house-type-list></kt-house-type-list>
			</mat-card-content>

		</mat-card>
	</div>
</div>
<br>
<div class="row align-items-center">
	<div class="col-md-12">
	<mat-card class="example-card">
		<!--<mat-card-header>
			<mat-card-title >Configuration des Roles</mat-card-title>
			<div class="div-right">
				<button mat-mini-fab color="accent" (click)="openDialog()" class='success-background'>
					<mat-icon>plus_one</mat-icon>
				</button>
			</div>
		</mat-card-header>-->
		<mat-card-content>
			<kt-role-list ></kt-role-list>
		</mat-card-content>

	</mat-card>
	</div>
</div>


