<div class="example-container mat-elevation-z8">
	<div class="div-left">
		<b><i><h3>Types des maisons</h3></i></b>
	</div>
	<div class="div-right">
		<button mat-mini-fab color="accent" (click)="openDialog()" class='success-background'>
			<mat-icon>plus_one</mat-icon>
		</button>
	</div>

	<mat-table #table [dataSource]="dataSource">
		<!-- Position Column -->
		<ng-container matColumnDef="id">
			<mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
		</ng-container>
		<!-- Name Column -->
		<ng-container matColumnDef="houseTypeName">
			<mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.houseTypeName}} </mat-cell>
		</ng-container>
		<!-- Action Column -->
		<ng-container matColumnDef="action">
			<mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
			<mat-cell *matCellDef="let element" class="column-align-right">
				<button mat-icon-button
						color="primary"
						matTooltip="Edit house Type"
						(click)="openDialog(element.id)">
					<mat-icon>create</mat-icon>
				</button>&nbsp;
				<button mat-icon-button
						color="warn"
						matTooltip="Delete house Type"
						type="button"
						(click)="confirmDialog(element)">
					<mat-icon>delete</mat-icon>
				</button>&nbsp;
			</mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
	<mat-paginator #paginator
				   [pageSize]="10"
				   [pageSizeOptions]="[5, 10, 20]"
				   [showFirstLastButtons]="true">
	</mat-paginator>
</div>
