/*
table {
	width: 100%;
}
.white-background{
	background-color: white;
}
.table.mat-form-field {
	width: 100%;
}

*/
table {
	width: 100%;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

img:hover {
	cursor: pointer;
}

